img {
	width: 30%;
	float: left;
	margin: 1.66%;
}
p {
	font-family: Vollkorn SC;
	margin-left: 1.66%;
	font-size: 23px;
	font-weight: 600;
	border-bottom: 3px solid #f1f1f1;
	width: 18%;
	padding-bottom: 20px ;
	text-decoration: underline;

}